.stared_container,
.searched_container {
  margin: 10px;
  height: 250px;
  border-radius: 8px;
  border: solid lightgray;
  background-color: beige;
}

.title {
  text-align: center;
}

.stared_cards,
.searched_cards {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}
