.stared_container,
.searched_container {
  margin: 10px;
  border-radius: 8px;
  border: 2px solid black;
  background-color: gray;
}

.title {
  margin-top: 6px;
  margin-left: 12px;
  color: white;
  font-size: 18px;
  font-weight: 900;
}

.stared_cards,
.searched_cards {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-evenly;
}
