* {
  box-sizing: border-box;
}

.Login {
  text-align: center;
  background-color: rgb(235, 235, 235);
}

.Login_container {
  /* border: 1px black solid; */
  width: 310px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Login_info {
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}

.Login_btn {
  font-size: 0.8rem;
  font-weight: bold;
  width: 100px;
  height: 40px;
  letter-spacing: 3px;
  margin-top: 15px;
}
