* {
  box-sizing: border-box;
  color: rgb(45, 45, 45);
}

.Login {
  text-align: center;
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

.Login_container {
  /* border: 1px black solid; */
  width: 310px;
  /* height: 100vh; */
  margin-left: auto;
  margin-right: auto;
}



.Login_btn {
  font-size: 0.8rem;
  font-weight: bold;
  width: 100px;
  height: 40px;
  letter-spacing: 3px;
  margin-top: 15px;
}

@media screen and (max-width: 799px) {
  .Logo {
    margin-top: 30px;
    padding-bottom: 20px;
    width: 190px;
  }
  .Login_info {
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 6px;
  }
}

@media screen and (min-width: 800px) {
  .Logo {
    margin-top: 30px;
    padding-bottom: 25px;
    width: 250px;
  }
  .Login_info {
    font-family: 'Jua', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 6px;
  }
}
.Login_input {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 0.2px;
}
.Login_input:focus {
  outline: none;
}
.alert-box {
  color: red;
  /* background-color: #f8d7da; */
  border-color: #f5c6cb;

  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
