* {
  box-sizing: border-box;
}

.Mypage {
  text-align: center;
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

.Mypage_container {
  /* border: 1px black solid; */
  width: 310px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Mypage_input {
  width: 300px;
  height: 25px;
  margin-bottom: 10px;
}

.Mypage_info {
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}

.Logo {
  margin-bottom: 30px;
}

.Mypage_btn {
  font-size: 0.8rem;
  font-weight: bold;
  width: 100px;
  height: 40px;
  letter-spacing: 3px;
  margin: 15px;
}

.check_password,
.check_retypepassword,
.check_mobile,
.check_email {
  opacity: 0.6;
  text-align: left;
  color: red;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.alert-box {
  color: red;
  /* background-color: #f8d7da; */
  border-color: #f5c6cb;

  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
