* {
  box-sizing: border-box;
  color: rgb(45, 45, 45);
}

.Signup {
  text-align: center;
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

.Signup_container {
  /* border: 1px black solid; */
  width: 310px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Signup_input {
  width: 300px;
  height: 27px;
  margin-top: 2px;
  margin-bottom: 10px;
  border-color: rgb(255, 255, 255);
  border-width: 0.2px;
}

.Signup_input:focus {
  outline: none;
}

.Signup_input::-webkit-input-placeholder {
  font-size: 11px;
  padding-left: 2px;
  font-family: 'Nanum Gothic', sans-serif;
}
.Signup_info {
  font-family: 'Jua', sans-serif;
  font-size: 15px;
  padding-left: 6px;
  text-align: left;
}

@media screen and (max-width: 799px) {
  .Logo {
    margin-top: 30px;
    width: 190px;
  }
}

@media screen and (min-width: 800px) {
  .Logo {
    margin-top: 30px;
    width: 250px;
  }
}

.Signup_btn {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
  width: 100px;
  height: 40px;
  letter-spacing: 3px;
  margin-top: 15px;
}

.Submit_btn {
  float: right;
  padding: 2px 5px;
  margin-right: 7px;
  margin-bottom: -10px;
  background-color: rgb(203, 203, 203);
  font-family: 'Do Hyeon', sans-serif;
  border: none;
}
.Submit_btn:hover {
  background-color: gray;
  cursor: grab;
}

.Signup_btn {
  background-color: #ffc83c;
  margin-top: 30px;
  width: 300px;
  height: 40px;
  letter-spacing: 3px;
  border-radius: 20px;
  border: none;
}
.Signup_btn:hover {
  background-color: #eea933;
  cursor: grab;
}
.check_password,
.check_retypepassword,
.check_mobile,
.check_email {
  opacity: 0.6;
  text-align: left;
  color: red;
  padding-top: 4px;
  padding-left: 5px;
  font-size: 9px;
  /* background-color: black; */
}

.alert-box {
  color: red;
  /* background-color: #f8d7da; */
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.nonHoverOption,
.hoverOption {
  list-style: none;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  padding: 8px 4px;
}

.nonHoverOption:hover,
.hoverOption {
  background-color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  color: orange;
}