.btn {
  margin-right: 10px;
  padding: 4px 12px;
  width: 80px;
  height: 36px;
  border: 2px solid gray;
  border-radius: 5px;
  display: inline;
  color: gray;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
}

.btn:hover {
  background-color: gray;
  color: white;
  font-weight: 900;
  transition: all 0.5s;
  cursor: pointer;
}
