.searchBar {
  margin: 2px;
  padding: 4px 12px;
  width: 60vw;
  height: 20px;
  /* display: inline;
  justify-content: space-between;
  align-items: center; */
}

/* .serachBtn {
  margin: 2px;
  padding: 4px 12px;
  background-color: skyblue;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 3px;
  display: inline;
}

.serachBtn:hover {
  background-color: rgb(190, 228, 243);
} */
