.searchContainer {
  margin: 0px;
  display: flex;
}

.searchBar {
  margin: 0px;
  padding: 4px 12px;
  width: 50vw;
  height: 37px;
  font-size: 14px;
  border-radius: 12px 0 0 12px;
  border: 2px solid gray;
}
.searchBar:focus {
  outline: none;
}

.deleteBtn {
  margin: 0px;
  font-size: 20px;
  width: 45px;
  height: 49px;
  color: gray;
  font-size: 25px;
  background-color: gold;
  border-radius: 0 12px 12px 0;
  border: 2px solid gray;
  border-left-style: none;
}

.deleteBtn:hover {
  background-color: rgb(255, 230, 89);
  transition: all 0.5s;
  cursor: pointer;
}

.searchList {
  position: absolute;
  z-index: 1;
  margin: 0px;
  padding: 4px 12px;
  width: 50vw;
  border-radius: 12px;
  background-color: white;
  border: 0.3px solid gray;
}

.resultList,
.hoverList {
  list-style: none;
  font-size: 14px;
  margin: 5px;
  padding: 8px 4px;
}

.resultList:hover,
.hoverList {
  background-color: whitesmoke;
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
