.cityCard,
.cityCard_isLoading {
  margin: 10px;
  width: 30vw;
  height: 200px;
  text-align: center;
  border-radius: 0px;
  border: 2px solid black;
  background-color: whitesmoke;
  font-size: 16px;
}

.cityCard_isLoading {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.cityCard:hover {
  background-color: white;
  transition: all 0.5s;
}

.location {
  position: relative;
  font-weight: bold;
}

.pic_stared,
.pic_searched {
  position: relative;
  /* top: 10px;
  padding: 2px; */
  background-color: gold;
  font-size: 14px;
}

.pic_stared {
  color: goldenrod;
  font-weight: bold;
}

.pic_searched {
  color: gray;
}

.pic_stared:hover,
.pic_searched:hover {
  background-color: rgb(255, 230, 89);
  cursor: pointer;
  transition: all 0.5s;
}

.icon {
  position: relative;
  font-weight: bold;
}

.value {
  position: relative;
  font-weight: bold;
}

.time {
  position: relative;
  font-weight: normal;
  /* width: 80%;
  top: 175px; */
}
